{:deps {
        ;; kotoba.lang.error replaced clojure.lang.ExceptionInfo here (2026-09-25).
        ;; An explicit floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/error {:git/sha "838dec56c9a5b74f9eec825a2fb28bda157f8cd3"}
        ;; kotoba.bytes replaced UTF-8 .getBytes / String. here (2026-09-24). An explicit
        ;; floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/bytes {:git/sha "d5259f35ab7c4f5a66e63ca29ed4dcf7ba3f1ac5"}
        ;; kotoba.test (clojure.test-compatible surface), not clojure.test --
        ;; scripts/migrate-clojure-test-to-kotoba-test.cljk. Explicit floor.
        io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git"
                                    :git/sha "2ab4885f99fd25552d380d0f6b0b54c5a72eb7ae"}}
 :paths ["src" "test" "../org-ietf-ed25519/src"]}
